@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --intro-desc: #1a1a1a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

a {
  cursor: pointer;
}

nav ul li{
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}
nav ul li:first-child{
  padding-left: 0px;
}
nav ul li:last-child{
  padding-right: 0px;
}

.app-container{
  width: 100%;
  max-width: 1280px;
  margin: 0px auto;
}

.about div{
  max-height: 600px;
}
.about .desc{
  clip-path: polygon(0% 0%, 0% 100%, 63% 100%, 54% 0%);
  background-color: var(--intro-desc);
}
.about .photo{
  clip-path: polygon(100% 0%, 0% 0%, 20% 100%, 100% 100%);
}
.edu > div > div .edu-line{
  width: 2px;
}
.edu > div:first-child > div .edu-line{
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
}
.edu > div:last-child > div .edu-line{
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
}

@media (width >= 48rem) {
  nav ul li{
    padding-left: 20px;
    padding-right: 20px;
  }
}